.navbar {
    min-height: 60px; /* match nav height */
    background-color: black;
    opacity: 0.8;
    display: flex;
    align-items: center; /* vertical center */
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.navbar-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    flex: 0 0 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 30px;
    width: auto;
    margin-right: 0.5rem;
}

.logo-text {
    display: flex;
    align-items: center;
}

.navbar a {
    text-transform: uppercase;
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navbar-links {
    flex: 0 0 66%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}