.card__title--event {
    margin: .25rem 0 0;
    grid-column: 2;
    grid-row: 1;
}

.card__text--event {
    grid-column: 2;
    grid-row: 2;
}

.card__text--date {
    grid-column: 3;
    grid-row: 1 / 3;
}