.calendar {
    display: grid;
    gap: 1rem;
}

.event {
    background-color: var(--primary-color);
    outline: 1px solid var(--secondary-color);
    border: 0.5px solid rgba(0,0,0,0.35);
    padding: 0.25rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.event h3 {
    margin: 0.5rem 0;
}

.event p {
    margin: .25rem 0;
}

.event:has(.card-icon) {
    display: flex;
    gap: 0.75rem;
    align-items: flex-start;
}

.date {
    
}

.description {
    font-size: .8rem;
    opacity: .8;
}

.event-icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(61, 174, 69, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    box-shadow: #0C1013 0px 1px 3px, rgba(61, 174, 69, 0.25) 0px 1px 2px;
}

.event-icon svg {
    width: 100%;
    height: 100%;
    fill: var(--accent-color);
}

.outline path {
    fill: none;
    stroke: var(--accent-color);
    stroke-width: 1px;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
}